* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header { 
    .contact {
        padding: 8px;
        background-color: $primary-color;

        .myRow {
            justify-content: space-between;

            a {
                color: white;
                text-decoration: none;

            }

            .email {
                margin-right: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .social-media {
                margin: 0px 8px;
                opacity: 0.6;
                ;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }
    nav {
        overflow: hidden;
        background-color: rgb(253, 253, 253);
         position: sticky;
        a {
            float: left;
            font-size: 16px;
            color: rgb(10, 10, 10);
            padding: 14px 16px;
            text-decoration: none;
    
            &:hover {
                color: $primary-color;
                text-decoration: none;
    
            }
    
    
        }
        h1{
            color: black;
        }
    
        .dropdown {
            float: left;
            overflow: hidden;
        
            .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: rgb(15, 15, 15);
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                
            }    
            .dropdown-content {
                display: none;
                position: absolute;
                background-color:  rgb(253, 253, 253);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
        
                a {
                    float: none;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
        
                    &:hover {
                        background-color: rgb(17, 16, 16);
                    }
                }            
            }
            &:hover {
                .dropdown-content {
                    display: block;
                }
                .dropbtn {
                    color: $primary-color;
        
                }
            }
        
        
        }
        .hover-underline-animation {
            display: inline-block;
            position: relative;
    
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $primary-color;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
    
            }
            
            &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
    
        }
    }
}

@media only screen and (max-width: 767px) {
    .social-accounts {
        display: none;
    }

    .contact-with {
        margin: 0 auto;
    }
}
#welcome{
    background-image: url("/assets/images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;   
    h2{
        font-size: 45px;
        span{
            color: $primary-color;
        }
    } 
    p{
        font-size: 20px;
    }
    button{
        padding: 8px 25px;
        background-color:$primary-color;
        border: 0;
    }
    a{
        span{
            color: black;
            &:hover{
                color:$primary-color
            }
        }
        &:hover{
            text-decoration: none;
        }
    }
   .summary{
       margin-top: 80px;
   }
}

